{% extends 'base.html' %}
{% block content %}


    <nav class="mt-1" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'categories' %}">Категории</a></li>
            <li class="breadcrumb-item active" aria-current="page">Ударни Инструменти</li>
        </ol>
    </nav>

    <h2 class="text-center">Ударни Инструменти</h2>

    <br>

    <div class="row">
        <div class="col"><a class="tdn" href="{% url 'tapani' %}">
            <div class="card">
                <div class="card-body">
                    <h5 class="text-center card-title">Тапани</h5>
                </div>
                <img src="/data/images/drums.png" class="card-img-bottom" alt="...">
            </div>
        </a>
        </div>
        <div class="col"><a class="tdn" href="{% url 'ksilofon' %}">
            <div class="card">
                <div class="card-body">
                    <h5 class="text-center card-title">Ксилофон</h5>
                </div>
                <img src="/data/images/ksilofon.PNG" class="card-img-bottom" alt="...">
            </div>
        </a>
        </div>
        <div class="col"><a class="tdn" href="{% url 'kahoni' %}">
            <div class="card">
                <div class="card-body">
                    <h5 class="text-center card-title">Кахони</h5>
                </div>
                <img src="/data/images/kahon.PNG" class="card-img-bottom" alt="...">
            </div>
        </a>
        </div>
    </div>
    <br>



    <style>
        .card {
            background-color: #caf1ff;
        }

        .card {
            box-shadow: 3px 3px 10px gray;
            width: 18vw;
            background-color: #ace3f782;
            border: 2px solid gray;
            border-radius: 15px;
            min-width: fit-content;
        }

        .card:hover {
            border: 3px solid white;
        }

        .tdn {
            text-decoration: none;
            color: black;
        }

        .card-img, .card-img-bottom {
            width: inherit;
        }
        .row{
            text-align: -moz-center;
            text-align: -webkit-center;
        }
    </style>

{% endblock %}