{% extends 'base.html' %}
{% block content %}

    <h1>Нешто важно за нас :)</h1>
    <p>Добредојдовте на нашата е-продавница за музички инструменти, каде што ќе најдете најголем избор од врвни музички
        инструменти на пазарот. Нашата цел е услужливост на нашите клиенти со највисоко квалитетни инструменти од
        светски познати производители.</p>

    <div class="row">
        <div class="col-8">
            <p>Сите нашите инструменти се внимателно избрани и проверени за квалитет пред да бидат доставени до Вас. Ги
                сортираме по категории, што Ви олеснува да ги најдете инструментите кои Ви се потребни. Сите производи
                се придружени со опис, слики и спецификации.</p>
            <p>Нашата е-продавница има сигурен и лесен процес на наплата. Исто така, нудиме брза и сигурна достава на
                сите нарачки.</p>
            <p>Вашето задоволство е нашиот најголем приоритет. Доколку имате дополнителни прашања, тимот од стручни
                музичари и купувачи е подготвен да Ви помогне со било какви прашања или препораки, контактирајте не!</p>
        </div>
        <div class="col-4">
            <img id="abImg" src="/data/static/about.png"
        </div>
    </div>
    <style>
        p {
            text-align: justify;
            font-style: italic;
            font-weight: bold;
        }

        #about {
            color: white
        }

        #abImg {
            max-width: 100%;

        }
    </style>
{% endblock %}