{% extends 'base.html' %}
{% block content %}

    {#        {{ request.session.session_key }}#}
    <div class="row">


        {% for i in products %}

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{ MEDIA_URL }}{{ i.image.url }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ i.manufacturer }} {{ i.model }} {{ i.id }}</h5>
                </div>
            </div>

        {% endfor %}
        {% if len > 0 %}
            <a href="{% url 'payment' %}" class="btn btn-success mt-2">Кон плаќање</a>
        {% else %}
            <div class="text-center">


                <h2 class="mt-4">Вашата кошничка е празна</h2>

                <a href="{% url 'categories' %}" class="btn btn-primary mt-2 mb-4 w-50 fw-bold fs-4">Пребарај производи</a>
            </div>
        {% endif %}
    </div>

    <style>
        #cart {
            color: white
        }
    </style>

    <script>
        document.getElementById("cartimg").src = "/data/static/cart-white.png";
    </script>
{% endblock %}